src/main/mule/read-header-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-header-demoFlow" doc:id="b74b78a3-29ae-4c8a-ac54-cd95028c4719" >
		<http:listener doc:name="Listener" doc:id="ce3786b5-da00-4382-ae2d-071f18a33ae7" config-ref="HTTP_Listener_config" path="read-header" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="2b6ccafb-b42d-4070-b662-aac26c0c24e7" message="#[attributes.headers.authorization]"/>
	</flow>
</mule>
