src/main/mule/read-xml-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-xml-demoFlow" doc:id="2c19c432-f20e-46a8-9400-53bd3aa015b1" >
		<http:listener doc:name="Listener" doc:id="7ac88cab-2190-46fa-a231-e8c4c9307f3a" config-ref="HTTP_Listener_config" path="read-xml" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="2b184672-ec47-42bf-b4cf-3e2bc3c164d2" message="#[payload.employee]"/>
	</flow>
</mule>
