src/main/mule/read-query-params-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-query-params-demoFlow" doc:id="37d63993-9b32-4351-bc53-2652afd8becd" >
		<http:listener doc:name="Listener" doc:id="f7a29ee4-a458-485f-a324-bd331ad2c8c4" config-ref="HTTP_Listener_config" path="read-query-params" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="270e7f8f-ef75-4165-92e0-46a5ccbf399d" message="#[attributes.queryParams]"/>
	</flow>
</mule>
